<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subdomain</title>
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
    <div class="container">
        <div class="jumbotron">
            <h1>Hello World</h1>
            <h1>Subdomain Takeover </h1>
        </div>
    </div>
</body>
</html>










